body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loginform{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  gap: 10px;
  box-shadow: 0px 0px  12px 5px #ccc;
  padding: 8px;
}
.loginform>h1{
  text-align: center;
}
.buttonCss button{
  padding:  5px 10px;
  margin: 5px;
}
.buttonCss{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
